@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gulfs Display';
  src: url('/fonts/GulfsDisplay-Normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gulfs Display Expanded';
  src: url('/fonts/GulfsDisplay-Expanded.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gulfs Display Condensed';
  src: url('/fonts/GulfsDisplay-Condensed.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
